/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-blue: #81B3D3;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #CACACA;
  --basic-dark-grey: #333333;
  --basic-brown: #766357;

  --special: #669EC0;
  --special: #5496BD;
  --special: #F2F2F2;
  --special: #EBEBEB;
  --special: #604E43;
  --special: #503E33;
}